<div class=" col-xs-12 col-sm-10 ">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">
                {% block panel_heading %}
                {% endblock %}
            </h3>
        </div>

        {% block panel_body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

    </div>
</div>
