<div class="col-xs-12 col-sm-10">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">
                {% block panel_heading %}
                {% endblock %}
            </h3>
        </div>

        <div class="panel-body">
            {% block panel_body %}
            {% endblock %}
        </div>

        <div class="panel-footer">
            {% block panel_footer %}
            {% endblock %}
        </div>

    </div>
    {% block under_the_panel %}
    {% endblock %}
</div>

