<div class="col-xs-2 col-sm-2">
    <input type="text" class="form-control j-form-input-min-width" placeholder="{{ dayId }} мар" disabled>
</div>
<div class="col-xs-5 col-sm-6 j-padding-lr-null">
    {{ note }}
</div>
<div class="col-xs-2 j-padding-lr-null">
{{ state }}
</div>
<div class="col-xs-1">
    OK
</div>
